/*CONFIGURACOES BASICAS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}  

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #3C474D;
    height: 100vh;    
}

.fundoLogin {
    background-color: #68C8E8;
}

.fundoApp {
    background-color: white;
}

main {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    color: #3C474D;
    font-size: large;
    font-weight: bold;    
}


/* .row [class*='col-']:not(:last-child) {
    margin-right: 5px;
} */

.form-control {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #68C8E8;
    color: #3C474D;
    font-weight: 300;
    font-size: large;
    padding-left: 10px;
    outline: none;
}

.form-control:hover {
    border: 1px solid #3C474D;
}
.form-control:focus {
    border: 1px solid #3C474D;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 10px;
}

.list-radio {
    display: flex;
    gap: 15px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-option input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type='radio']:checked {
    accent-color: #3C474D;
    border-color: #3C474D;
}

/*LOGIN*/
form {
    background-color: #68E8C2;
    border-radius: 5px;    
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 3px 3px 10px;
}

.login {
    padding-left: 20px;
    padding-right: 20px;
}

.login .form-group input + span {
    align-self: flex-end;
}

.login .form-group .btnLogin + span {
    align-self: center;
}

.btnLogin {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background-color: #68C8E8;
    color: #3C474D;
    font-size: medium;
    border-style: hidden;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    align-self: center;
    box-shadow: 1px 1px 5px;
}

.btn {    
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #3C474D;
    font-size: large;
    border-style: hidden;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    align-self: center;
    box-shadow: 1px 1px 5px;
    transition: transform 0.3s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btnCancelar {
    background-color: #E8A968;
    
}

.btnSalvar {
    background-color: #68C8E8;
    margin-left: auto;
}

/*CADASTRO*/
form label {
    margin-bottom: 5px;
    align-self: flex-start;  
}

form input[type="text"]:read-only {
    background-color: #D9D9D9;
}

.titulo {
    margin-bottom: 20px;
}

/*CABEÇALHO*/
header {
    background-color: #68C8E8;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

header .perfil {
    align-items: end;
    align-self: center;
    margin-right: 10px;
}

.voltar img {
    height: 50px;
    width: 50px;
}

.perfil img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    width: 70%;
}

.menu li {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #68E8C2;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    display: flex;
}

.menu img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.menu li:hover {
    width: 500px;
    height: 100px;
    border-radius: 100px;
    justify-content: flex-start;
    animation: aumentar 1s forwards;
    cursor: pointer;
}

.menu li:hover .texto {
    display: flex;
    justify-content: center;
    align-items: anchor-center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    color: #3C474D;
    animation: mostrar 3s forwards;
}

.menu li a:link {
    text-decoration: none;
}

.menu li:hover a {
    width: 80%;
}

.menu .icone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    display: none;
}

/*criar animações*/
@keyframes aumentar {
    0% {
        padding-left: 5px;
        width: 200px;
    }
    100% {
        width: 500px;
        padding-left: 5px;
    }
}

@keyframes mostrar {
    0% {
        margin-left: 20px;
        white-space: nowrap;
        opacity: 0;
    }
    100% {
        white-space: nowrap;
        opacity: 1;
    }
}

/*ITENS*/
.item img:not(.icon) {
    height: 80px;
    width: 80px;
    background-color: white;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
}

.item {
    background-color: #68C8E8;
    width: 80%;
    height: 140px;
    border-radius: 5px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 10px;
    transition: transform 0.7s;
}

.item:hover {
    transform: scale(1.03);
}

.listaItens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.item .form-control {
    height: 30px;
    width: 60%;
}

.item .form-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.infoItens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item .btn {
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: #738B93;
}

.mostrarBotoes {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.mostrarItens {
    width: 60%;
    background-color: #68E8C2;
    border-radius: 5px;    
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 3px 3px 10px;
}

/* .form-control {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #68C8E8;
    color: #3C474D;
    font-weight: 300;
    font-size: large;
    padding-left: 10px;
    outline: none;
} */

@media only screen and (max-width: 768px) {/*SMARTPHONES*/
    [class*="col-"] {
        width: 100%;
    }    

    .login, form {
        width: 95%;    
    }

    form label {
        word-wrap: break-word; 
    }
}

@media only screen and (min-width: 768px) {/*DESKTOPS*/
    /*Definicao do grid*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .login, form {
        width: 50%;
    }

    form label {
        word-wrap: unset; 
    }

    .voltar img {
        height: 30px;
        width: 30px;
    }
    
    .perfil img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 600px) {/*TABLETS*/    
    /* Para tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .login, form {
        width: 100%;    
    } 

    form label { 
        word-wrap: break-word; 
    }
}