<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página do Projeto DOAR - Objetivamos com esta solução auxiliar quaisquer instituições que realizam atividades em favor do próximo. Venha nos ajudar.">
    <meta name="keywords" content="doar, doador, instituição">
    <meta name="author" content="Paulo Rosa">

    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>DOAR</title>
</head>
<body class="fundoLogin">
    <main>
        <form action="" method="GET" class="login">
            <div class="titulo">
                <h2>Doe+</h2>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="login" name="login" placeholder="Login"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha"/>
                <span><a>Esqueceu sua senha?</a></span>
            </div>
            <div class="form-group">
                <button class="btnLogin">Login</button>
                <span><a target="_self" href="./cadastro.html">Criar novo acesso?</a></span>
            </div>
        </form>
    </main>
</body>
</html>