<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página do Projeto DOAR - Objetivamos com esta solução auxiliar quaisquer instituições que realizam atividades em favor do próximo. Venha nos ajudar.">
    <meta name="keywords" content="doar, doador, instituição">
    <meta name="author" content="Paulo Rosa">

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>Cadastrar</title>
</head>
<body>
    <main>
        <form action="" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="text" class="form-control" id="email" name="email"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>CEP:</label>
                        <input type="text" class="form-control" id="cep" name="cep"/>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label>Endereço:</label>
                        <input type="text" class="form-control" id="endereco" name="endereco"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>Número:</label>
                        <input type="text" class="form-control" id="numero" name="numero"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Complemento:</label>
                        <input type="text" class="form-control" id="complemento" name="complemento"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Cidade:</label>
                        <input type="text" class="form-control" id="cidade" name="cidade"/>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label>UF:</label>
                        <input type="text" class="form-control" id="ud" name="uf"/>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>